
h1 {
  color: black;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.md-header{
  background-color: black;

}

.wy-side-nav-search{
  background-color: black;
}

.wy-side-nav-search input[type=text]{
  border-color: red;
  border-radius: 30px;
}
@media only screen and (max-width: 44.9375em) {
html .md-nav--primary .md-nav__title--site {
  background-color: black;
  }
}

@media only screen and (max-width: 76.1875em) {
html .md-nav--primary .md-nav__title--site {
  background-color: black;
  }
}
